<!DOCTYPE html>
<html lang="en">
<div class="about-section">
  <h1>About Us</h1>
  <p>We are Online Warriors. We have the shirt for you!.</p>
  </div>

<h2 style="text-align:center">Meet Our Team</h2>
<div class="row">
  <div class="column">
    <div class="card">
      <img src="/w3images/team1.jpg" alt="Andrew" style="width:100%">
      <div class="container">
        <h2>Andrew Sautter</h2>
        <p class="title">COO</p>
        <p>Our operational guru.</p>
        <p>asautter@owstore.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="/w3images/team2.jpg" alt="Dustin" style="width:100%">
      <div class="container">
        <h2>Dustin Bellinger</h2>
        <p class="title">Vice President, Product</p>
        <p>The mind behind the design.</p>
        <p>dbellinger@owstore.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="/w3images/team3.jpg" alt="Keith" style="width:100%">
      <div class="container">
        <h2>Keith Moore</h2>
        <p class="title">Vice President, Technology</p>
        <p>Keeps the site right.</p>
        <p>kmoore@owstore.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>
</div>